
//TODO: Import
@import "./abstracts/_variables.scss";
@import "./abstracts/_mixins.scss";
@import "./layout/_home.scss";

//TODO: Main component
.main {
    padding: 20px;

}

body {
    font-family: Lato, sans-serif;
    overflow-x: hidden;

}
h1 {
    font-family: Raleway, Lato, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 35px;
}
h3 {
    letter-spacing: 0.1rem;
    font-size: 16px;
}
//TODO:Header Component
.header {
    text-align: center;

    &__head {
        //header title

    }
    &__sub {
        //under header

        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}
//TODO: Time component
.time {
    border: 2px solid yellow;
    &__value {
        font-size: 3.8rem;
        letter-spacing: 0.4rem;
        font-weight: 700;
        text-decoration-style: solid;
    }

}

//TODO: Footer Component
.footer {

    text-align: center;
    padding: 1.5rem;
    margin-top: 2.5rem;
    height: 200px;
    border: 2px solid black;
    background-color: #1B242F;
    //* whole container for social icons
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        min-height: 100px;
        align-items: center;
        //* The list-item, li-items for footer list
        &--item {
            list-style: none;
            padding: 8px;

            //* The links or FA icons styling
            & a {

                text-decoration: none;
                font-size: 3.5rem;
                transition: 0.4s all ease;
                //*When user hovers over
                &:hover {
                    transform: scale(1.02);
                    color: green;
                }
                //* When user clicks
                &:focus {
                    transform: translateY(.1rem);

                }
            }
        }

    }
    // * end list

    //& copyright at bottom
    &__copyright {
        font-size: 14px;
        color: #ddd;
        font-style: italic;

        letter-spacing: 0.1rem;
    }
}

//TODO: Todolist
.todolist {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 85%;
    min-height: 400px;
    margin-bottom: 80px;
    //* Container for todolist item
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: middle;

        align-items: center;

        margin-bottom: 10px;
        border-bottom: 1.5px solid #ddd;
    }
    //*Container for check and circle
    &__status--container {
        width: 20%;
        align-items: center;
        display: flex;
        justify-content: space-between;

    }
    //* Actual task as a h3
    &__task {

        width: 75%;
        font-size: 18px;
        letter-spacing: 0.1rem;

    }
    //* Font-awesome Checkmark icon
    &__done {
        transition: 0.4s all ease;
        color: $color-portal-light;
        &:hover {
            color: $color-portal-dark;
        }
        &:focus {}
    }
    &__delete,
    &__done {
        padding: 8px 7px;
        &:hover {
            transform: scale(1.02);
            cursor: pointer;
        }
        &::focus {
            transform: translateY(-3px);

        }
    }
    //*Font awesome times-circle icon
    &__delete {
        transition: 0.4s all ease;
        color: $color-delete;
        &:hover {
            color: rgba($color-delete,.8);
        }
        &:focus {}
    }
}
.main {
    min-height: 90%;
    max-height: 90%;
    z-index:-2;
}

//TODO: InputBox

form {
    margin: 0 auto;
    text-align: center;
    margin: 35px auto;
}
.inputbox {

    transition: all 0.4s ease;
    width: 80%;
    font-size: 20px;

    padding: 12px 8px;
    text-align: center;
    &:focus {
        outline: none;
        width: 80%;
    }
    outline: 0;
    border: none;
    border-bottom: 1.5px solid #ddd;
}

//TODO: Quote
.quote {

    width: 85%;

    margin: 0 auto;
    text-align: center;
    &__text {
        font-size: 16px;
        padding: 8px 6px;

    }
}

//TODO: Fontawesome
.fa-quote-left,
.fa-quote-right {
    margin: 0 3px;
}
