body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

.main {
  padding: 20px; }

body {
  font-family: Lato, sans-serif;
  overflow-x: hidden; }

h1 {
  font-family: Raleway, Lato, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 35px; }

h3 {
  letter-spacing: 0.1rem;
  font-size: 16px; }

.header {
  text-align: center; }
  .header__sub {
    width: 80%;
    margin: 0 auto;
    text-align: center; }

.time {
  border: 2px solid yellow; }
  .time__value {
    font-size: 3.8rem;
    letter-spacing: 0.4rem;
    font-weight: 700;
    text-decoration-style: solid; }

.footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 2.5rem;
  height: 200px;
  border: 2px solid black;
  background-color: #1B242F; }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    align-items: center; }
    .footer__list--item {
      list-style: none;
      padding: 8px; }
      .footer__list--item a {
        text-decoration: none;
        font-size: 3.5rem;
        transition: 0.4s all ease; }
        .footer__list--item a:hover {
          transform: scale(1.02);
          color: green; }
        .footer__list--item a:focus {
          transform: translateY(0.1rem); }
  .footer__copyright {
    font-size: 14px;
    color: #ddd;
    font-style: italic;
    letter-spacing: 0.1rem; }

.todolist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  min-height: 400px;
  margin-bottom: 80px; }
  .todolist__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1.5px solid #ddd; }
  .todolist__status--container {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .todolist__task {
    width: 75%;
    font-size: 18px;
    letter-spacing: 0.1rem; }
  .todolist__done {
    transition: 0.4s all ease;
    color: #A0F951; }
    .todolist__done:hover {
      color: #1B963D; }
  .todolist__delete, .todolist__done {
    padding: 8px 7px; }
    .todolist__delete:hover, .todolist__done:hover {
      transform: scale(1.02);
      cursor: pointer; }
    .todolist__delete::focus, .todolist__done::focus {
      transform: translateY(-3px); }
  .todolist__delete {
    transition: 0.4s all ease;
    color: #DD1155; }
    .todolist__delete:hover {
      color: rgba(221, 17, 85, 0.8); }

.main {
  min-height: 90%;
  max-height: 90%;
  z-index: -2; }

form {
  margin: 0 auto;
  text-align: center;
  margin: 35px auto; }

.inputbox {
  transition: all 0.4s ease;
  width: 80%;
  font-size: 20px;
  padding: 12px 8px;
  text-align: center;
  outline: 0;
  border: none;
  border-bottom: 1.5px solid #ddd; }
  .inputbox:focus {
    outline: none;
    width: 80%; }

.quote {
  width: 85%;
  margin: 0 auto;
  text-align: center; }
  .quote__text {
    font-size: 16px;
    padding: 8px 6px; }

.fa-quote-left,
.fa-quote-right {
  margin: 0 3px; }
