body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: Lato, sans-serif; }

h1,
h3 {
  font-family: Raleway, Lato, sans-serif; }

.header {
  text-align: center;
  border: 2px solid red; }
  .header__head {
    color: red; }
  .header__sub {
    color: red; }

.time {
  border: 2px solid yellow; }
  .time__value {
    font-size: 3rem;
    letter-spacing: 0.4rem; }

.footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 2.5rem;
  height: 200px;
  border: 2px solid black; }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid magenta; }
    .footer__list--item {
      list-style: none;
      border: 2px solid #ffd1c3; }
      .footer__list--item a {
        text-decoration: none;
        font-size: 3.5rem;
        transition: 0.4s all ease; }
        .footer__list--item a:hover {
          transform: scale(1.02);
          color: green; }
        .footer__list--item a:focus {
          transform: translateY(0.1rem); }
  .footer__copyright {
    font-size: 1.6rem;
    color: #ddd;
    letter-spacing: 0.1rem; }

.todolist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid purple;
  width: 85%;
  min-height: 400px;
  margin-bottom: 80px; }
  .todolist__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    border: 2.5px dotted violet;
    margin-bottom: 10px; }
  .todolist__status--container {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid green; }
  .todolist__task {
    border: 1px solid black;
    width: 75%;
    font-size: 24px;
    letter-spacing: 0.1px; }
  .todolist__done {
    transition: 0.4s all ease;
    color: #A0F951; }
    .todolist__done:hover {
      color: #1B963D; }
  .todolist__delete {
    transition: 0.4s all ease;
    color: #DD1155; }
    .todolist__delete:hover {
      color: rgba(221, 17, 85, 0.8); }

form {
  margin: 0 auto;
  text-align: center;
  margin: 35px auto; }

.inputbox {
  transition: all 0.4s ease;
  width: 75%;
  font-size: 20px;
  border: 3px solid pink;
  padding: 12px 8px;
  text-align: center; }
  .inputbox:focus {
    outline: none;
    width: 85%; }
